body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-result {
  background-color: grey;
  margin: 10px 0px;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-columns: 0.33fr 0.33fr 0.34fr;
}

#song-artwork-search {
  grid-column: 1;
  grid-row: 1;
}

#song-title-search {
  grid-column: 2;
  grid-row: 1;
  margin: 0
}

#song-album-search {
  grid-row: 2 / span 2;
  margin: 0;
}

#song-artist-search {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  
}

#song-checkbox-search {
  grid-column: 3;
  grid-row: 1
}

#playlist-song, #playlist-titles {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr 0.1fr;
  grid-template-rows: 1fr;
  border: solid;
}

#remove-song-playlist {
  max-height: 20px
}

#playlists {
  list-style: none;
  border: solid
}

#edit-pencil {
  max-height: 15px
}

#playlist-item {
  cursor: pointer
}